body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
}
.main{
    width: 100vw;
    height: 100vh;
}
#myCanvas{
    position: absolute;
    left: 500px;
    top:500px;
    z-index: 1;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.divClicada {
    border: 2px solid green !important;
}

#categories {
    position: fixed;
    top: 48vh;
    z-index: 1;
    display: block;
    left: 20px;
}

#result {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1;
}

#buttonResult{
    padding: 10px;
    background-color: #FFF5D3;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
#result>a {
    display: block;
}
#export{
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
#inputSaturation::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: black;
}