body{
    margin: 0;
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    /*overflow: hidden;*/
}
.divClicada{
    border: 2px solid green;
}

#categories {
    position: absolute;
    z-index: 1;
}
#result{
    position: absolute;
    right: 20px;
    bottom: 100px;
}
#result>a{
    display: block;
}

/* #settings{
width: 100px;
height: 100px;
background-color: yellow;
} */


/* #div_lateral_esquerda{
    background-color: #FFD84F;
    color: black;
    width: 25vw;
    height: 100vh;
    display: inline-block;
}
#div_logo{
    height: 100px;
    background-color: darkblue;
}
#logo{
    width: auto;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#div_nome_marca, #div_descricao_marca, #div_cores, #div_formas{
    margin: 20px 20px;
}
#nome_marca{
    border: 1px solid #d9d5d5;
    width: auto;
    height: 100%;
    float: left;
    padding: 6px 28px 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none;
}
#coluna1_descricao, #coluna2_descricao{
    display: inline-block;
}
.color_weel{
    width: 20px;
    height: auto;
}
#colorpicker1, #colorpicker2{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0;
    border-width: 0;
    background-color: transparent;
}
#button_esqueda{
    width: fit-content;
    height: 25px;
    position: relative;
    margin: 1vw 6vw;
    right: 0;
    background-color: #F4F4F4;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

#div_gerador{
    background-color: #F4F4F4;
    width: 75vw;
    height: 100vh;
    display: inline-block;
}
.centrar_vert{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.centrar_horz{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
#div1, #div2, #div3, #div4{
    display: inline-block;
    position: relative;
}
.image_generator{
    width: 130px;
    height: auto;
    margin: 1vw 3vw;
}
#right_flex{
    display: flex;
    justify-content: flex-end;
}
#button_gerator{
    width: calc(130px*2 + 3vw);
    height: 25px;
    position: relative;
    margin: 1vw 6vw;
    right: 0;
    background: #FFD84F;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
.div_like{
    display: none;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    margin: 1vw 3vw;
    cursor: pointer;
}
.like{
    width: 45px;
    height: auto;
    position: relative;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

/*http://jsfiddle.net/6ReTK/10/*/
/* #div1:hover #div_like1, #div2:hover #div_like2, #div3:hover #div_like3, #div4:hover #div_like4{
    display:block;
}  */